body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.first-div {
    background-image: url(images/donation999.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.head-line {
    padding-top: 25%;
}

.h1 {
    font-size: 70px;
    text-align: center;
    color: white;
}

.h3 {
    color: white;
    text-align: center;
    padding-bottom: 15px;
}

.donate {
    text-decoration: none;
    background-image: linear-gradient(rgb(107, 107, 233), rgb(70, 98, 224));
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 3px;
    padding: 15px 40px;
    text-align: center;
    margin-left: 45%;

}

.Donate-today {
    font-size: 60px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 5%;
}

.donate-way {
    text-align: center;
    font-size: large;
}

.flexible {
    display: flex;
    color: rgb(3, 60, 60);
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

}

.amount {
    padding: 3%;
    background-color: aliceblue;
    margin: 2px 8px;
    border-radius: 10px;

}

.colored-amount {
    border: 3px solid rgb(176, 16, 128);
    padding: 3%;
    background-color: aliceblue;
    margin: 2px 8px;
    border-radius: 10px;

}